<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLVoKR0QFa-DgHCSj1NbgPj50RwzSW3sM</string>
	<key>GCM_SENDER_ID</key>
	<string>524531441500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.talha.autoPartsHub</string>
	<key>PROJECT_ID</key>
	<string>autopartshub-e3ad7</string>
	<key>STORAGE_BUCKET</key>
	<string>autopartshub-e3ad7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524531441500:ios:9568ae5d6237ca23ef2b99</string>
</dict>
</plist>